@import "tailwindcss";
@font-face {
  font-family: milker;
  src: url(./fonts/milker.ttf);
}
@font-face {
  font-family: brilliant;
  src: url(./fonts/brillant.ttf);
}
h1{
  font-family: milker;
}
#main{
  background-image: url(./images/main.jpg);
  background-size: cover;
  background-position:center;
  background-clip:text;
  -webkit-background-clip:text;
  color: transparent;
}
#two{
  background-image: url(./images/main.jpg);
  background-size: cover;
  background-position:center;
  background-clip:text;
  -webkit-background-clip:text;
  color: transparent;
}
p{
  font-family: brilliant;
}